<div class="re">
    <div class="contain">
        <h1 data-aos="fade-up">About Finlogik</h1>
    </div>
    <div class="mes" data-aos="fade-up">
        <div class="me">
            <h3 data-aos="fade-up">Our mission</h3>
            <p data-aos="fade-up">At Finlogik, we develop a passion for financial innovation.
                Finlogik has been delivering value added fintech solutions for over 15 years.
                From family office to global investment manager or industrial treasury to megapole, Finlogik
                clientele
                is as
                broad as
                its financial technology knowledge.</p>
        </div>
        <div class="me">
            <h3 data-aos="fade-up">Our story</h3>
            <p data-aos="fade-up">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Parturient lorem purus justo,
                ultricies.
                Sollicitudin
                odio
                elementum urna placerat lacus, vulputate. Non malesuada viverra et ultrices cras. Tincidunt tempor,
                blandit
                augue ac
                feugiat. Praesent arcu tempus ullamcorper quisque in. Magna fermentum, lacus, fermentum arcu.
                .</p>
        </div>
        <div class="im" data-aos="fade-up">
            <img src="./assets/images/IM.png">
        </div>
    </div>
</div>