.container {
    margin-top: 100px;
}
.bande {
    background-color: #88B702;
    height: 100px;
    margin-top: 100px;
    display: flex;
    align-items: center;
}

.bande h3 {
    margin-left: 200px;
    color: white;


}

.info-setting3 {
    width: 35px;
    left: 150px;
    position: absolute;
}

input {
    border-radius: 100px;
    height: 50px;
    width: 350px;
    border: 1px solid white;
    margin-right: 40px;
    position: absolute;
    right: 60px;
    top: 330px;
}


.Rechercher {
    background-color: #88B702;
    border-radius: 100px;
    border: 1px solid #88B702;
    position: absolute;
    right: 120px;
    top: 340px;
    color: white;

}
.co {
    background: linear-gradient(217deg, #343434, rgba(255, 0, 0, 0) 70.71%),
        linear-gradient(127deg, #444E2B, #343434 70.71%),
        linear-gradient(336deg, #444E2B, rgba(0, 0, 255, 0) 70.71%);


    height: 100vh;
    margin: 0;
    padding-right: 0;
    margin-right: 0;
}
.card{
    border-radius: 20px;
    box-shadow: #88B702;
    background-color: #4A4C48;
    border:solid 2px #88B702;
}
.card-img-top{
    border-radius: 20px;
    height: 200px;
}


.co h1 {
    text-align: center;
    align-items: center;
    letter-spacing: -1px;
    color: #88B702;
    font-weight: 700;
    font-size: 80px;
    line-height: 106px;
    padding-top: 80px;
    font-family: 'DM Sans';
    font-style: normal;
}