<app-header></app-header>
<div class="co">
    <h1>Our Projects</h1>
    <div class="bande">
        <img class="info-setting3" src="./assets/images/div .png" alt="Icône">
        <h3>Search for a project </h3>
        <div class="float">
            <input type="text">
            <button type="button" class="Rechercher">Search</button>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <img class="card-img-top" alt="" src="./assets/images/webdev.png">
                    <div class="card-body">
                        <h5 class="card-title">Development</h5>
                        <p class="card-text">ghhh</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Development</h5>
                        <p class="card-text">gthth</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">fgthj</h5>
                        <p class="card-text">efgrthyju</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>