<app-header></app-header>
<section id="Home">
    <div class="go">


        <div class="container">
            <h1>Welcome to our company</h1>
            <div class="border">
                <h2>TECHNOLOGY AND SERVICES</h2>
                <hr>
                <h3>FOR The Future of Investment Management</h3>
                <hr>
                <h3>Delivering customized solutions to a broader client base</h3>
            </div>
        </div>
    </div>
    <div class="bande">
        <h2>FINLOGIK IS A POWERFUL PLATEFORM</h2>
        <img src="./assets/images/Apple.png">
    </div>
</section>
<section id="about-section">
    <app-about></app-about>
</section>

<section id="rules-setion">
    <app-rules></app-rules>
</section>