<body>
    <h1 class="title">FAQ's</h1>

    <div class="questions-container">
        <div class="question">
            <button (click)="toggleQuestion($event)">
                <span>How do I sign up as a new employer on the web application?</span>
                <i class="fas fa-chevron-down d-arrow"></i>
            </button>
            <p>To sign up as a new employer, click on the "Sign Up" button on the homepage and provide your company
                information, email
                address, and create a password</p>
        </div>

        <div class="question">
            <button (click)="toggleQuestion($event)">
                <span>Can I search and filter through candidate profiles on the web application?</span>
                <i class="fas fa-chevron-down d-arrow"></i>
            </button>
            <p>Yes, our web application provides a search and filter functionality that allows you to find and narrow
                down candidate
                profiles.</p>
        </div>

        <div class="question">
            <button (click)="toggleQuestion($event)">
                <span>Are there any fees or charges associated with using the web application as an employer?</span>
                <i class="fas fa-chevron-down d-arrow"></i>
            </button>
            <p>No, there are no fees or charges associated with using the web application as an employer. Our platform
                is completely
                free for employers to use.</p>
        </div>

        <div class="question">
            <button (click)="toggleQuestion($event)">
                <span>How can I report any issues or provide feedback to improve the web application?</span>
                <i class="fas fa-chevron-down d-arrow"></i>
            </button>
            <p>You can navigate to the "Contact Us" page on the web application and fill out the provided form with your
                concerns or
                feedback. Our support team will review and respond to you promptly.</p>
        </div>
    </div>
</body>