
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img [src]="imageSrc" alt="Description de l'image">

        </a>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <img class="info-setting" src="{{ iconPath2 }}" alt="Icône">
                <a class="nav-link " href="#Home"> Home</a>
                <a class="nav-link" href="#about-section">About us</a>
                <a class="nav-link" routerLink="/">our team</a>
                <a class="nav-link" routerLink="/project">Our projects</a>
                <a class="nav-link" href="#rules-setion">Our rules</a>
                <a class="nav-link" routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">
                    Contact us
                </a>
                <button routerLink="/signup" class="button">Sign up</button>
                <button routerLink="/signin" class="button">Sign in</button>
            </div>
        </div>
    </div>
</nav>