<div class="ko">


    <h1>Our Rules</h1>
    <div class="card-container">
        <div class="card">
            <div class="im">
                <img src="../assets/images/sec.png">
            </div>
            <div class="he">
                <h3>Security & Hygiene</h3>
                <p>The terms of use for certain dangerous instruments or products and the wearing of individual
                    equipment. These measures
                    aim to ensure the safety of employees.</p>
            </div>

        </div>
        <div class="card">
            <div class="im">
                <img src="../assets/images/Ru.png">
            </div>
            <div class="he">
                <h3>Discipline & Regulation</h3>
                <p>The sanctions that are unrelated to the task accomplished or disproportionate to the intended goal
                    are prohibited.</p>
            </div>

        </div>
        <div class="card">
            <div class="im">
                <img src="../assets/images/Com.png">
            </div>
            <div class="he">
                <h3> Communication & Interaction</h3>
                <p>Il s'agit d'un ensemble d'actions planifiées et coordonnées afin d'assurer la fluidité de la
                    transmission
                    d'informations
                    au sein d'une organisation</p>
            </div>

        </div>
        <div class="card">
            <div class="im">
                <img src="../assets/images/Dr.png">
            </div>
            <div class="he">
                <h3>Laws & Defence </h3>
                <p>We expect adherence to local, national, and international laws, and in times of crisis, we stand
                    united in defense and
                    protection of our community</p>
            </div>

        </div>

    </div>

</div>